.flex-container{
      /* height: 500px; */
      /* width: 700px; */
      padding: 20px;
      border: 2px solid;
      display: flex;
      flex-grow: 1;
      gap: 5px;
      background-color: azure;
}
.flex-container>div{
        height: 100px;
       width:  100px;
        border: 2px solid;
}
.flex-child1{
        font-size: large;
        flex-grow: 1;
        background-color: cornflowerblue;
}
.flex-child2{
    flex-grow: 2;
    font-size: large;
    background-color: aqua;
}
.flex-child3{
    flex-grow: 0;
    font-size: large;
    background-color: blueviolet;
}